@using WebApplication1.Models
@model List<Product>
@{
}

<h2 class = "text-center mb-5">List of Products</h2>

<div class="row mb-5">
    <div class = "col">
        <a class="bth bth-primary" asp-controller="Products" asp-action="Create">New Product</a>
    </div>
    <div class="col">

    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Price</th>
            <th>Image</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Brand</td>
                <td>@product.Category</td>
                <td>@($"{product.Price:C}")</td>
                <td>
                    <img src="/images/@product.ImageFileName" alt="Product Image" width="100" />
                </td>
                <td>@product.CreateAt.ToString("MM/dd/yyyy")</td>
                <td style="white-space:nowrap">
                    <a class="btn btn-primary btn-sm" asp-page="/Products/Edit" asp-route-id="@product.Id">Edit</a>
                    <form method="post" asp-page="/Products/Delete" asp-route-id="@product.Id" style="display:inline;">
                        <button class="btn btn-danger btn-sm" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
